.wrapper {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 0.5em;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em black;
  color: white;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.wrapper:hover .card {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.25em;
  background: black;
}

.back {
  transform: rotateY(180deg);
}

.background {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border-radius: 0.25em;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.background > * {
  z-index: 1;
}

