.card {
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em black;
  width: 200px;
  height: 300px;
  color: white;
  overflow: hidden;
  margin: 0.5em;
}

.background {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding: 1em;
}

.background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.background > * {
  z-index: 1;
}

