.actions {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.cards .content {
  padding: 1em;
}

.cards .image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}